<div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/adList">Patient List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/adPatientInformation">Patient information</a>
        </li>
      </ul>
    </div>