
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/fdList">Patient List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fdPatientInformation">Patient information</a>
        </li>
      </ul>
    </div>
