<div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/fdAppoint">Appointment List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fdSched">Schedule Appointment</a>
        </li>
      </ul>
    </div>