<form action="/fdPatientInformation" method="POST">
    <tr class="patientBlock">
    <input type="hidden" name="fullName" value="{{fullName}}">
    <td class="fullName">{{fullName}}</td>
    <td class="email">{{email}}</td>
    <td class="mobile">{{mobileNumber}}</td>
    <td><button type="submit">See Full Details</button></td>
</tr>
</form>
