<!DOCTYPE html>
<html>
  <head>
    <title>Frontdesk Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style-fdappoint.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    {{>fdnav}}
    {{>fdsidepatient}}

    <div class="content">
      <div class="container mt-4">
        <div class="row">
          <div class="col-md-6">
            <h3>Clinic's Patient List</h3>
          </div><br>
          <div class="col-md-6">
            <form class="form-inline float-right">
              <div class="input-group">
   
                </div>
              </div>
            </form>
          </div>
        </div>
        <br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#if patient}}
              {{#each patient}}
                {{>patientlist}}
              {{/each}}
            {{else}}
                <div>No patients available</div>
            {{/if}}
          </tbody>
        </table>

        <nav aria-label="Table pager">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                >Previous</a
              >
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
