<html>
  <head>
    <title>Database Connection</title>
  </head>
  <body>
    <form method="POST" action="/signin">
      <input type="text" placeholder="email" id="email" name="email"><br>
      <input type="password" placeholder="password" id="password" name="password"><br>
      <input type="submit" id="SIconfirm"  value="sign in">
    </form>
    
    <script type="text/javascript"  src="/js/login.js"></script>
    </body>
</html>