<html>
  <head>
    <title>Database Connection</title>
  </head>
  <body>
    <form method="POST" action="/signup">
      <input type="text" placeholder="First name" id="fname" name="fname"><br>
      <input type="text" placeholder="Last name" id="lname" name="lname"><br>
      <input type="text" placeholder="Username" id="username" name="username"><br>
      <input type="text" placeholder="email" id="email" name="email"><br>
      <input type="password" placeholder="password" id="password" name="password"><br>
      <input type="submit" id="SUconfirm"  value="sign up">
    </form>
    
    <script type="text/javascript"  src="/js/login.js"></script>
    </body>
</html>